<ul>
  <li><a href="/resolve/support">{{i18n 'footer.contact'}}</a></li>
  <li><a href="{{feedbackUrl}}">{{i18n 'footer.feedback'}}</a></li>
  <li class="legal"><a href="{{policyUrl}}">{{{i18n 'footer.policy'}}}</a></li>
  <li class="util-pull-right footer-logo"><i class="footer-logo"></i></li>
  <li class="util-pull-right copyright"><span>{{{i18n 'footer.copyright' this}}}</span></li>
</ul>
