<ul>
  <li><a href="/resolve/support">{{i18n 'footer.contact'}}</a></li><li><a href="{{feedbackUrl}}">{{i18n 'footer.feedback'}}</a></li><li {{#if hideTermsOfService}}class="legal"{{/if}}><a href="{{policyUrl}}" target="_blank">{{{i18n 'footer.policy'}}}</a></li>{{#if viewTermsOfService}}<li class="legal"><a href="https://www.akamai.com/portal-terms" target="_blank">{{i18n 'footer.terms'}}</a></li>{{/if}}<li class="util-pull-right footer-logo"><i class="footer-logo"></i></li><li class="util-pull-right copyright"><span>{{{i18n 'footer.copyright' this}}}</span></li>
</ul>
