<a class="util-ellipsis" href="javascript:void(0);"
   title="{{textLoggedInAs}} {{current}}">{{textLoggedInAs}} {{current}}</a><i
  class="util-arrow-down"></i>
<nav class="popup users util-hide">
  <div class="util-arrow-up"></div>
  <div>
    {{#with mainMenuItems}}
      <header class="util-clearfix"><span>{{0.name}}</span></header>
      {{#each 0.subMenuItems}}
        <section>
          <a href="{{url}}">{{name}}</a>
        </section>
      {{/each}}
    {{/with}}
  </div>
</nav>

