{{#each items}}
  <section>
    <div>
      <a href="{{url}}"><i class="context-{{contextId}}"></i>{{highlightText ../query name}}</a>
      <span class="extra">
        {{#withItem this key=../extraKey}}
          {{highlightFirstMatch ../../query ../../extraText this}}
        {{/withItem}}
      </span>
    </div>
  </section>
{{else}}
  <p><span>{{i18n 'context.noMatches'}}</span></p>
{{/each}}
