<div class="modal-backdrop fade in"></div>

<div class="message-center modal fade in util-show" role="dialog">
  <div class="modal-dialog">
    <section class="modal-content">
      <header class="modal-header">
        <h5 class="modal-title"></h5>
        <i class="close-icon"></i>
      </header>
      <section class="modal-body"></section>
    </section>
  </div>
</div>

<div class="delete modal fade in" role="dialog">
  <div class="modal-dialog">
    <section class="modal-content">
      <header class="modal-header">
        <h5 class="modal-title">{{i18n 'messages.previewTitle'}}</h5>
        <i class="close-icon"></i>
      </header>
      <section class="modal-body">
        {{i18n 'messages.deleteMessage'}}
      </section>
      <div class="modal-footer">
        <button class="button cancel">{{i18n 'messages.cancel'}}</button>
        <button class="button primary">{{i18n 'messages.deleteOk'}}</button>
      </div>
    </section>
  </div>
</div>

<div class="forward modal fade in" role="dialog">
  <div class="modal-dialog">
    <section class="modal-content">
      <header class="modal-header">
        <h5 class="modal-title">{{i18n 'messages.previewTitle'}}</h5>
        <i class="close-icon"></i>
      </header>
      <section class="modal-body">
        <label>{{i18n 'messages.forwardMessage'}}
          <div class="emails luna-tags input textarea util-clearfix"></div>
        </label> <label>{{i18n 'messages.forwardComments'}}
        <textarea maxlength="200"></textarea> </label>
      </section>
      <div class="modal-footer">
        <button class="button cancel">{{i18n 'messages.cancel'}}</button>
        <button class="button primary">{{i18n 'messages.forwardSend'}}</button>
      </div>
    </section>
  </div>
</div>
