<div class="akam-list-box">
  <div class="list-box-data">
    <table>
      <thead>
      <tr>
        <th class="subject">{{i18n 'messages.subject'}}</th>
        <th class="date">{{i18n 'messages.posted'}}</th>
        <th class="actions"></th>
      </tr>
      </thead>
      <tbody>
      {{#each messages}}
        <tr {{#messageRead this}}class="read"{{/messageRead}} data-id="{{messageId}}">
          <td>
            <h5>{{summary}}</h5>

            <p>{{shortContent}}</p>
          </td>
          <td><span class="date">{{dateFormat createdDate}}</span></td>
          <td>
            <i class="luna-reply icon-states" title="{{i18n 'messages.forward'}}"
               data-id="{{messageId}}"></i> <i class="luna-trash icon-states"
                                               title="{{i18n 'messages.delete'}}"
                                               data-id="{{messageId}}"></i>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
